.example-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-sidenav {
  /*width: 250px;*/
  min-width: 300px;
  max-width: 1024px;
  padding:15px;

}

.grabber{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   margin-right: -15px;
   cursor: ew-resize;
   height: 100%;
   width: 10px;
   /*border-top: 1px solid #444;*/
   overflow: hidden;
}





/* THEME */
/* console */
.example-sidenav {
  /*background-color: #444;*/
}


/*console grabber*/
.grabber {
  /*background-color: #444;*/
}
